# Dependencies
/node_modules

# Build output
/dist
/build

# Test files
/coverage

# Environment variables
.env
.env.*.local

# OS and IDE specific
.DS_Store
Thumbs.db
*.suo
*.user
*.bak
*.log
.vscode/ # Uncomment this if you want to ignore VS Code settings
.idea/   # IntelliJ/WebStorm

# GH-Pages cache (sometimes created if not ignored properly by the tool itself)
.cache/